<!doctype html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <title>LiveCheck</title>
  </head>

<body>
  <div>
    <h1 style="text-align: center">Welcome to LiveCheck!</h1>
    <h3 style="text-align: center">The one stop shop for collaborative task management!</h3>
  </div>
  <div style="margin: 100px; display: flex; flex-direction: row; padding: 25px; justify-content: space-evenly;">
    <a href="/join">Create your organisation now!</a>
    <p>or</p>
    <a href="/login">Log in to an existing organisation</a>
  </div>
</body>
</html>