<!doctype html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- CSS only -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
<!------ Include the above in your HEAD tag ---------->
    <title>LOG IN DUDE</title>
  </head>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <body>
        <img src="../static/images/logo.png" width="50px" id="icon" alt="User Icon" /><h1>Login</h1>
      </body>

      <!-- Login Form -->
      <form>
        <div class="col-md-12">
            <input type="text" id="organisation" class="fadeIn second" name="organisation" placeholder="organisation">
        </div>
        <div class="col-md-12">
            <input type="text" id="name" class="fadeIn third" name="name" placeholder="name">
        </div>
        <div class="col-md-12">
            <input type="button" id="btnSendLogin" class="fadeIn fourth" value="Log In">

            <script>
              document.getElementById("btnSendLogin").addEventListener("click", function() {
                org = document.getElementById("organisation").value;
                username = document.getElementById("name").value;
                window.location.href = "/organisation/" + org + "/" + username;
              });
            </script>
        </div>
      </form>
    </div>
  </div>
</html>