<!doctype html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- CSS only -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
<!------ Include the above in your HEAD tag ---------->
    <title>LOG IN DUDE</title>
  </head>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../static/images/logo.png" id="icon" alt="User Icon" />
      </div>
      
      <body>
          <h1>tst</h1>
      </body>

      <!-- Login Form -->
      <form>
        <div class="col-md-12">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        </div>
        <div class="col-md-12">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        </div>
        <div class="col-md-12">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </div>
      </form>
  
  
    </div>
  </div>
</html>